footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: auto;
	background-color: aqua;
}

header {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	background-color: aqua;
}

.main {
    display: flex;
    border: 2px solid red;
    justify-content: space-between;
}

.guestList_container {
    border: 2px solid purple;
}

.footer_info {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	justify-content: space-evenly;
}

.main {

}

.main_park_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* border: 2px dotted blue; */
    height: 692px;
    width: 100%;
}
.park_list {
    border: 2px solid black;
    height: 300px;
    width: 30%;
}